<% layout('layout/boilerplate') %>
    <h1>Login</h1>
    <form action="/login" method="POST" class="needs-validation" novalidate>
        <label class="form-label d-block mb-3">Username <input class="form-control" type="text" autocomplete="off"
                name="username" required>
            <div class="valid-feedback">Looks Good!</div>
        </label>
        <label class="form-label d-block mb-3">Password <input type="password" class="form-control" type="text"
                autocomplete="off" name="password" required>
            <div class="valid-feedback">Looks Good!</div>
        </label>
        <button class="btn btn-success">Login</button>
    </form>