<% layout('layout/boilerplate') %>
    <div class="container justify-content-center align-item-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card shadow">
                    <div class="card-body">
                        <img src="https://images.unsplash.com/photo-1476041800959-2f6bb412c8ce?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                            alt="" class="card-img-top">
                        <h5 class="card-title">Register</h5>
                        <form action="/register" method="POST" class="needs-validation" novalidate>
                            <label class="form-label d-block mb-3">Username <input class="form-control" type="text"
                                    autocomplete="off" name="username" required autofocus>
                                <div class="valid-feedback">Looks Good!</div>
                            </label>
                            <label class="form-label d-block mb-3">Email <input class="form-control" type="text"
                                    autocomplete="off" name="email" required>
                                <div class="valid-feedback">Looks Good!</div>
                            </label>
                            <label class="form-label d-block mb-3">Password <input type="password" class="form-control"
                                    type="text" autocomplete="off" name="password" required>
                                <div class="valid-feedback">Looks Good!</div>
                            </label>
                            <div class="d-grid"><button class="btn btn-success">Register</button></div>
                        </form>
                    </div>
                </div>
            </div>