<% layout('layout/boilerplate.ejs') %>
   <div class="row">
      <h1 class="text-center">New Campground</h1>
      <div class="col-md-6 offset-md-3">
         <form action="/campground" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
            <label class="form-label d-block mb-3">Title <input class="form-control" type="text" autocomplete="off"
                  name="campground[title]" required>
                  <div class="valid-feedback">Looks Good!</div>
               </label>
            <label class="form-label d-block mb-3">Location <input class="form-control" type="text" autocomplete="off"
                  name="campground[location]" required>
                  <div class="valid-feedback">Looks Good!</div>
               </label>
               <div class="input-group mb-3">
                  <input type="file" class="form-control" id="inputGroupFile02" multiple name="image">
                  
               </div>
            <div class="mb-3">
               <label for="price">Price</label>
               <div class="input-group">
                  <span class="input-group-text" id="price-label">$</span>
                  <input type="text" id="price" autocomplete="off" name="campground[price]" class="form-control" placeholder="0.00" aria-label="price"
                     aria-describedby="price-label" required>
                  <div class="valid-feedback">Looks Good!</div>
               </div>
            </div>
            <label class="form-label d-block mb-3">Description <textarea class="form-control" type="text"
                  autocomplete="off" name="campground[description]" required></textarea>
                  <div class="valid-feedback">Looks Good!</div>
                </label>
            <button class="btn btn-success mb-3">Add Campground</button>
         </form>
         <a href="/campground">back</a>

      </div>
   </div>
